body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
	
    background-image: url("../images/sabah1.jpg") ;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 300px 0;
}



.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

 .explore-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            background-color: #333; /* Choose your desired button color */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .explore-button:hover {
            background-color: #0056b3; /* Change the color on hover if needed */
        }
		
.main-content {
    padding: 0px 0; //ubah sini beza content
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
